@charset "utf-8";
/* CSS Document */



#warp{margin:0 auto; min-width:1280px;}


/*header*/

header{position:fixed; height: 100px; background:rgba(0,0,0,0.7); z-index:9999; left: 0; right:0}
header .header_in{position:relative; margin:0 auto; width:1280px; height:100px;}
header .logo{position:absolute; top:30px; left:70px}
header .logo h1{}

/*
header nav{ position:fixed; top:0; right:376px; z-index:9999}
header nav .navlist{ overflow:hidden}
header nav .navlist > li{float:left; text-align:center; width:150px;}
header nav .navlist > li > a{color:#fff; font-size:20px; font-weight:bold; display:block; height:100px; line-height:100px}
header nav .navlist > li.on > a{color:#96beda; }
*/
/*nav*/
header nav{}
header nav .navlist{position:absolute; top:0; right:36px; display:flex;
transform: translate(0,70%); height:43px; }
header nav .navlist > li{margin-right:20px;}
header nav .navlist > li:last-child{margin-right:0;}
header nav .navlist > li > a{position:relative; display:block; text-align:center; padding:10px 15px; font-size:20px; color:#fff;
transition:.5s}

header nav .navlist > li.on > a{color:#96beda}

/*nav bar*/
header nav .navlist > li.on > a::before,
header nav .navlist > li > a::before{content:''; position:absolute; 
top:0; left:0; width:100%; height:2px; background:#96beda; z-index:-1; transform:scaleX(0); transform-origin:right; transition:transform .5s; }

header nav .navlist > li.on > a::before,
header nav .navlist > li > a:hover::before{transform:scaleX(1);
transform-origin:left; }

header nav .navlist > li.on > a:after,
header nav .navlist > li > a:after{content:''; position:absolute; 
bottom:0; right:0; width:100%; height:2px; background:#96beda;
z-index:-1; transform:scaleX(0); transform-origin:left; 
transition:transform .5s; }

header nav .navlist > li.on > a:after,
header nav .navlist > li > a:hover:after{transform:scaleX(1);
transform-origin:right; color:#96beda}
header nav .navlist > li > a:hover{color:#96beda;}






/*bar*/
/*header nav .gnb_bar{position: absolute; bottom:0; left:22px; height:2px; width:100px; background:#f0ddaa}
*/   
/*
header nav .navlist > li > a > span{
width:100px; height:3px; background:#A66D6E}

header nav .navlist > li > a > span{position:absolute; left:0; bottom:0;
width:100px; height:3px; background:#96beda; opacity:0; transition:all .5s;}
*/




/*main_img*/
.main_img{position: relative; height: 900px; top:0; left:0;
background:url('../images/main_img(6).jpg') no-repeat center;
background-size:cover	
}
.main_img > img{}

/*



*/

.page {height:100vh}

/*about*/
.about{}
.about > .visual {position:relative; overflow: hidden;  padding-top:120px; height:970px}
.about > .visual > .inner {position:absolute; margin-top:20px; width:1920px; height:764px; background:url(../images/ab_bg.png)no-repeat 0 0; left:50%; margin-left:-960px}
.about > .visual > .cont {position:absolute; width:594px; height:764px; right:50%; margin-right:-653px; z-index:100}
.about > .visual > .cont > h2{padding-left:40px; font-size:48px; line-height:70px}
.about > .visual > .cont > .intro{margin:85px 0 0 30px}
.about > .visual > .cont > .intro > .info{letter-spacing:-1px; line-height:35px;}
.about > .visual > .cont > .intro > .info > li{font-size:20px; color:#fff }

.skill{margin:130px 0 0 30px}
.skill .title{font-size:20px; color:#012c50; font-weight:bold}
.skill .list {margin-top:20px;}
.skill .list > li {font-size:18px; color:#012c50; font-weight:lighter;
margin-bottom:5px;}
.skill .list .dp2 { }
.skill .list .dp2 > dt,
.skill .list .dp2 > dd {display: inline-block }
.skill .list .dp2 > dt {min-width:65px}
.skill .list .dp2 > dd { }
.skill .list .dp2 > dd .graph_set {position:relative; width:264px; height:11px; background:#bfd1df}
.skill .list .dp2 > dd .graph_set .inner {position:absolute; top:0; left:0; height: 100%;
background:#4c7ea7}

.certificate{margin:50px 0 0 30px}
.certificate .title{font-size:20px; color:#012c50; font-weight:bold}
.certificate > ul{margin-top:15px}
.certificate > ul > li{font-size:17px; line-height:25px;}

/*remewal*/
.renewal{}
/*renewal 01*/
.renewal > .renew_01{padding-top:145px; height:970px}
.renewal > .renew_01 > .re_box{margin:0 auto; padding-top:20px; width:1280px; height:827px; overflow:hidden}
.renew_01 > .re_box > .re_left{float:left; width:460px; height:827px; }
.renew_01 > .re_box > .re_left .hd3 > p{font-size:15px; line-height:5px;}
.renew_01 > .re_box > .re_left .hd3 > h3{font-size:35px; letter-spacing:-3px}
.renew_01 > .re_box > .re_left > h3 > span{font-size:15px;}
.renew_01 > .re_box > .re_left .re_logo{}
.renew_01 > .re_box > .re_left .re_logo > img{padding-top:20px;}
.renew_01 > .re_box > .re_left .re_ex{margin-top:25px;}
.renew_01 > .re_box > .re_left .re_ex > ul{}
.renew_01 > .re_box > .re_left .re_ex > ul > li{padding-top:55px; overflow:hidden}
.renew_01 > .re_box > .re_left .re_ex > ul > li > .title{font-size:17px; font-weight:bold;
 line-height:30px;}
.renew_01 > .re_box > .re_left .re_ex > ul > li > .explain{font-size:16px; font-weight:lighter;}

.renew_01 > .re_box > .re_left .re_ex > ul > li >  .color_01{float:left; margin-right:10px;
width:40px; height:18px; background:#fae8dd;}
.renew_01 > .re_box > .re_left .re_ex > ul > li > .color_02{float:left; width:40px; height:18px; margin-right:10px; background:#230403;}
.renew_01 > .re_box > .re_left .re_ex > ul > li > .color_03{float:left; width:40px; height:18px; background:#000;}

/*btn*/
.renew_01 > .re_box > .re_left .re_ex > .re_btn{overflow:hidden; margin-top:50px;}
.renew_01 > .re_box > .re_left .re_ex > .re_btn > li{float:left; margin-left:40px;}
.renew_01 > .re_box > .re_left .re_ex > .re_btn > li > a{display:block;
border: 2px solid #230403; padding:10px 15px; color:#230403}
/*
.renew_01 > .re_box > .re_left .re_ex > .re_btn > li.on > a,
.renew_01 > .re_box > .re_left .re_ex > .re_btn > li> a:hover{color:#fff; background:#8199d6}
*/

.renew_01 >.re_box > .re_left .re_ex > .re_btn > li.on > a{color:#fff; background:#230403}


.renew_01 > .re_box > .re_right{float:left; position:relative; margin-left:180px; 
width:640px; height:827px}
.renew_01 > .re_box > .re_right > .moniter{position: absolute; top:150px; right:15px;}
.renew_01 > .re_box > .re_right > .phone{position: absolute; top:410px ; left:50px;
z-index:100;}


/*renewal 02*/
.renewal .renew_02{}
.renewal > .renew_02{padding-top:145px; height:970px}
.renewal > .renew_02 > .re_box{margin:0 auto; padding-top:20px; width:1280px; height:827px; overflow:hidden}
.renew_02 > .re_box > .re_left{float:left; width:460px; height:827px}
.renew_02 > .re_box > .re_left .hd3 > p{font-size:15px; line-height:5px;}
.renew_02 > .re_box > .re_left .hd3 > h3{font-size:35px; letter-spacing:-3px}
.renew_02 > .re_box > .re_left > h3 > span{font-size:15px;}
.renew_02 > .re_box > .re_left .re_logo{}
.renew_02 > .re_box > .re_left .re_logo > img{padding-top:20px;}
.renew_02 > .re_box > .re_left .re_ex{margin-top:25px;}
.renew_02 > .re_box > .re_left .re_ex > ul{}
.renew_02 > .re_box > .re_left .re_ex > ul > li{padding-top:55px; overflow:hidden}
.renew_02 > .re_box > .re_left .re_ex > ul > li > .title{font-size:17px; font-weight:bold;
 line-height:30px;}
.renew_02 > .re_box > .re_left .re_ex > ul > li > .explain{font-size:16px; font-weight:lighter;}

.renew_02 > .re_box > .re_left .re_ex > ul > li >  .color_01{float:left; margin-right:10px;
width:40px; height:18px; background:#6a9c3f;}
.renew_02 > .re_box > .re_left .re_ex > ul > li > .color_02{float:left; width:40px; height:18px; margin-right:10px; background:#e8e7e7;}
.renew_02 > .re_box > .re_left .re_ex > ul > li > .color_03{float:left; width:40px; height:18px; background:#0e113f;}

.renew_02 > .re_box > .re_left .re_ex > .re_btn{overflow:hidden; margin-top:50px;}
.renew_02 > .re_box > .re_left .re_ex > .re_btn > li{float:left; margin-left:40px;}
.renew_02 > .re_box > .re_left .re_ex > .re_btn > li > a{display:block;
border: 2px solid #6a9c3f; padding:10px 15px; color:#6a9c3f;}

.renew_02 >.re_box > .re_left .re_ex > .re_btn > li.on > a{color:#fff; background:#6a9c3f}



.renew_02 > .re_box > .re_right{float:left; position:relative; margin-left:180px; 
width:640px; height:827px;}
.renew_02 > .re_box > .re_right > .moniter{position: absolute; top:150px; right:30px;}
.renew_02 > .re_box > .re_right > .phone{position: absolute; top:420px; left:50px;
z-index:100;}






/*pop*/
#lypop {position:fixed; top:0; left:0; width:100%; height: 100vh;  z-index: 9999; display: none}

#lypop .inner {position:absolute; width:800px; height:96vh; top:50%; left:50%; margin:-48vh 0 0 -400px; z-index: 100; border:1px solid #000;}
#lypop .lypopcont {overflow: auto; height:100%; overflow-x:hidden;}
#lypop .inner .closebtn { 
position:absolute; top:0; right:-60px;
display:block; width:30px; height:30px; background:#ccc;
}

#lypop .inner .closebtn .arrset {display: block; width:30px; height: 30px; position:absolute; top:0; left: 0; right:0; bottom:0; margin:auto;}
#lypop .inner .closebtn .arrset span {display:block; width:30px; height:2px; background:#fff; }
#lypop .inner .closebtn .arrset span + span {margin-top:10px}
#lypop .inner .closebtn .arrset span:nth-child(1) {transform: translateY(13px) rotate(45deg)}
#lypop .inner .closebtn .arrset span:nth-child(2) {transform: translateY(1px) rotate(-45deg)}


#lypop .lypopcont .simg {display: block}
#lypop .lypopcont .simg  > img{width:800px;}
#lypop .bg {position:absolute; top:0; left:0; width:100%; height: 100vh; background:rgba(0,0,0,0);}

#lypop.on {display:block}
#lypop.on .bg {/* background:rgba(0,0,0,.7) */animation: bgani .5s linear 1; background:rgba(0,0,0,.3) }


@keyframes bgani { 
	0% {background:rgba(0,0,0,0)}
	50% {}
	100% {background:rgba(0,0,0,.3)}
}
.titset .hd3 {float: left; padding-top: 40px; font-size:18px; }
























